.project_img{
    position: relative;
    overflow: hidden;
    transition: all linear 0.3s;
}
.project_img img{
    height: 350px;
    width: 350px;
}
.project_overlay{
    position: absolute;
    top: 0;
    right: 100%;
    width: 33.33%;
    height: 100%;
    background: rgba(26, 24, 24, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.project_main:hover .project_overlay{
    right: 0;
}
.project_overlay ul .links{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    transition: all linear 0.3s;
}
.project_overlay ul li{
    list-style: none;
}
.project_overlay ul .links:hover{
    background: hotpink;
    border-color: hotpink;
}
.project_main:hover .project_img{
   box-shadow: 0 0 5px rgba(244, 247, 247, 0.973)
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .project_img img{
        margin: 20px;
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .project_img img{
        margin: 20px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    #project .project_img img{
        margin: 20px;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #project .project_img img{
        height: 220px;
        width: 100%;
        margin: 20px;
    }
 }