.resume{
    margin-left: 240px;
    background:#2C2D2F;
    color: white;
}
.resume h1{
    padding-top: 80px;
    padding-left: 30px;
}
ul{
    list-style: none;
}
div h3{
    font-weight: 700;
}
@media (max-width: 767.98px) { 
    .resume{
        margin-left: 0px;
    }
    .resume h1{
        color: hotpink;
    }
}
@media (max-width: 575.98px) {
    .resume{
        margin-left: 0px;
    }
    .resume h1{
        color: hotpink;
    }
 }