.banner{
    background: url('../../images/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 750px;
    padding: 50px;
}

.bnr_overlay{
    color: aliceblue;
    text-align: right;
    opacity: 0;
}
.banner:hover .bnr_overlay{
   opacity: 1;
}
h1{
    font-weight: 500;
    color: hotpink;
}
#spin{
    font-weight: 700;
    color: lightcoral;
}